<h1>住所録</h1>

<table>
  <tr>
    <th>ユーザ名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.user.login %></td>
    <td><%= address.prefecture %></td>
    <td>...</td>
    <td><%= link_to '詳細', admin_address_path(address) %></td>
    <td><%= link_to '編集', edit_admin_address_path(address) %></td>
    <td><%= link_to '削除', [:admin, address], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規の住所', new_admin_address_path %>
