<div class="block">
    <h2><%= @global_setting.name %>の設定編集</h2>
    <%= form_for([:admin, @global_setting]) do |f| %>
      <%= f.submit '更新', :class => "button", :confirm => "更新します。よろしいですか？" %>

      <div>
        <%= f.label :name, "システム名："  %>
        <%= f.text_field :name %>
      </div>
      <hr>
      <div>
        <%= f.label :matching_number_limit, "同時最大マッチング人数："  %>
        <%= f.text_field :matching_number_limit %>
      </div>
      <div>
        <%= f.label :matching_range, "基準マッチング範囲：km"  %>
        <%= f.text_field :matching_range %>
      </div>
      <div>
        <%= f.label :maximum_range, "最大マッチング範囲：km"  %>
        <%= f.text_field :maximum_range %>
      </div>
      <div>
        <%= f.label :matching_step, "再マッチング時の拡大範囲：km"  %>
        <%= f.text_field :matching_step %>
      </div>
      <div>
        <%= f.label :matching_interval, "再マッチングする時間の間隔 :秒"  %>
        <%= f.text_field :matching_interval %>
      </div>
      <hr>
      <div>
        <%= f.label :mail_title_template,"依頼メールのタイトル"%>
        <%= f.text_field :mail_title_template %>
      </div>
      <br>
      <div>
        <%= f.label :mail_template,"依頼メールの文章"%>
        <%= f.text_area :mail_template ,:size => "40x10"%>
      </div>
      <% end %>
</div>