<div class="block">
  <div class="menu">
    <%= render "admin/sidemenu" %>
  </div>

  <div class="index_content">
    <h2>ユーザの位置情報一覧</h2>
    <table id="index_massages">
      <thead>
        <tr><th>氏名</th><th>緯度</th><th>経度</th><th>更新日時</th><th>地図</th></tr>
      </thead>
      <% @receivers_locations.each do |rs| %>
        <tr>
          <td><%= rs.user.family_name+""+rs.user.given_name %></td>
          <td><%= rs.latitude %></td>
          <td><%= rs.longitude %></td>
          <td><%=  Time.parse(rs.updated_at.to_s).strftime("%m月%d日 %H時%M分")%></td>
          <td><%= link_to("地図",admin_receivers_location_path(rs.id)) %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate(@receivers_locations,:previous_label => "前", :next_label => "次") %>
  </div>
</div>
