<div class="menu">
  <ul>
    <% active_bar1 = "green_button"%>
    <% active_bar2 = "blue_button"%>
    <% non_active_bar = "gray_button" %>
    <li>
      <%if request.path_info == '/admin/users' %>
        <a class="<%= active_bar1 %>" href="<%= admin_users_url %>">ユーザ一覧</a>
      <% else %>
        <a class="<%= non_active_bar %>" href="<%= admin_users_url %>">ユーザ一覧</a>
      <% end %>
    </li>
    <li>
      <%if request.path_info == '/admin/receivers_locations' %>
        <a class="<%= active_bar1 %>" href="<%= admin_receivers_locations_url %>">位置情報一覧</a>
      <% else %>
        <a class="<%= non_active_bar %>" href="<%= admin_receivers_locations_url %>">位置情報一覧</a>
      <% end %>
    </li>
    <li>
      <%if request.path_info == '/admin/massages' %>
        <a class="<%= active_bar2 %>" href="<%= admin_massages_url %>">依頼一覧</a>
      <% else %>
        <a class="<%= non_active_bar %>" href="<%= admin_massages_url %>">依頼一覧</a>
      <% end %>
    </li>
    <li>
      <%if request.path_info == '/admin/global_settings/1/edit' %>
        <a class="<%= active_bar2 %>" href="<%= edit_admin_global_setting_url(1)  %>">共通設定</a>
      <% else %>
        <a class="<%= non_active_bar %>" href="<%= edit_admin_global_setting_url(1)  %>">共通設定</a>
      <% end %>
    </li>
  </ul>
</div>