<div class="sidebarmenu">
  <ul>
    <li>
      <%if request.path_info == '/admin/users' %>
        <a class="blue_button" href="<%= admin_users_url %>">ユーザー管理</a>
      <% else %>
        <a class="white_button" href="<%= admin_users_url %>">ユーザー管理</a>
      <% end %>
    </li>
    <li>
      <%if request.path_info == '/admin/massages' %>
        <a class="blue_button" href="<%= admin_massages_url %>">マッチング管理</a>
      <% else %>
        <a class="white_button" href="<%= admin_massages_url %>">マッチング管理</a>
      <% end %>
    </li>
    <li>
      <%if request.path_info == '/admin/receivers_locations'   %>
        <a class="blue_button" href="<%= admin_receivers_locations_url %>">位置情報管理</a>
      <% else %>
         <a class="white_button" href="<%= admin_receivers_locations_url %>">位置情報管理</a>
      <% end %>
    <li>
      <%if request.url == edit_admin_global_setting_url(1) %>
        <a class="blue_button"  href="<%= edit_admin_global_setting_url(1) %>">共通設定管理</a>
      <% else %>
        <a class="white_button" href="<%= edit_admin_global_setting_url(1) %>">共通設定管理</a>
      <% end %>
    </li>
  </ul>
</div>