<div class="center_content">

  <%= render "admin/sidemenu" %>


  <div class="right_content">
  <% sender = User.find(@massage.user_id) %>
  <table class="massage_show fcenter">
	 <tbody>
		 <tr>
            <th scope="row">カテゴリ</th>
            <td><%= @massage.category.name %></td>
        </tr>
		<tr>
            <th scope="row">依頼ステータス</th>
            <td><%= @massage.request_status.name %></td>
        </tr>
    <tr>
            <th scope="row">検索ステータス</th>
            <td><%= @massage.matching_status.name %></td>
        </tr>
		<tr>
            <th scope="row">作成日</th>
            <td><%= Time.parse(@massage.created_at.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
		<tr>
            <th scope="row">有効期限</th>
            <td><%= Time.parse(@massage.validated_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
		<tr>
            <th scope="row">実施日</th>
            <td><%= Time.parse(@massage.active_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
		<tr>
            <th scope="row">依頼者</th>
            <td><%= sender.family_name %> <%= sender.given_name %></td>
        </tr>
		<tr>
            <th scope="row">電話番号</th>
            <td><%= sender.phone_number %></td>
        </tr>
    <tr>
            <th scope="row">住所</th>
            <td><%= @massage.address.prefecture+@massage.address.address1+@massage.address.address2 %></td>
        </tr>
        <% if @massage.end_flg %>
          <tr>
            <th scope="row"></th>
            <td>すでに終了しています</td>
          </tr>
        <% end %>
    </tbody>
    <tfoot><tr>
         <% unless @massage.end_flg%>
          <%= form_tag({:action => :change_status},{:method => :put}) do %>
            <% request_statuses = [] %>
            <% ["成立","受付中","中止"].each do |rs| %>
              <% request_statuses << [rs,RequestStatus.to(rs).first.id]%>
            <% end %>
            <th><%= select_tag("request_status",options_for_select( request_statuses )) %></th>
            <td><%= submit_tag("ステータス変更") %></td>
          <% end %>
        <% end %>
      </tr>
	</tfoot>
  </table>


  <table class="massage_show fcenter">
    <tbody>
    <th scope="row">該当ユーザ名</th>
    <th scope="row"></th>
    <% if @receivers.empty? %>
    <tr><td>該当者なし</td></tr>
    <%else%>
      <% @receivers.each do |user| %>
        <tr>
          <td><%= user.login %>　</td>
          <td><%= link_to '詳細', admin_user_path(user.id) %></td>
     　 </tr>
      <% end %>
    <% end %>
    <tbody>
  </table>
</div>
</div>

<script type="text/javascript">
	//Ajaxで位置情報をポストする際に同時に送信されるユーザID
	var current_user_id = "<%= current_user.id %>";

	//Goolge Map の作成
	$(function(){
		var myLatlng = new google.maps.LatLng(<%= @massage.latitude %>,<%= @massage.longitude %>);
		var myOptions = {
			zoom: 13,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map"), myOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
		});
	});

</script>