<table class="massage_show">
  <tbody>
    <tr>
      <th scope="row">カテゴリ</th>
      <td><%= @massage.category.name %></td>
    </tr>
    <tr>
      <th scope="row">実施住所</th>
      <td><%= @massage.address.prefecture %><%= @massage.address.address1 %><%= @massage.address.address2 %></td>
    </tr>
    <tr>
      <th scope="row">有効期限</th>
      <td><%= Time.parse(@massage.validated_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
    </tr>
    <tr>
      <th scope="row">実施日</th>
      <td><%= Time.parse(@massage.active_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分")  %></td>
    </tr>
  </tbody>
</table>
