<div class="block">
  <div class="menu">
    <%= render "sender/menu" %>
  </div>
  <h2>あなたの依頼一覧</h2>
  <div class="index_content">
    <div id="index_head">
      <input type="checkbox" id="update_check">過去の依頼も表示
      <input type="button" value="更新" id="update_button">
    </div>
    <table id="index_massages">
      <thead>
        <tr><th>依頼の種類</th><th>受付状況</th><th>検索状況</th><th>受付期限日時</th><th>実施日</th><th>リンク</th></tr>
      </thead>
      <% @massages.each do |m| %>
        <tr>
          <td><%= m.category.name %></td>
          <td><%= m.request_status.name %></td>
          <td><%= m.matching_status.name %></td>
          <td><%= Time.parse(m.validated_datetime.to_s).strftime("%m月%d日 %H時%M分") %></td>
          <td><%= Time.parse(m.active_datetime.to_s).strftime("%m月%d日 %H時%M分") %></td>
          <td><%= link_to("詳細",sender_massage_path(m.id)) %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate(@massages,:previous_label => "前", :next_label => "次") %>
  </div>
</div>
