<div data-role="page">

	<div data-role="header" data-position="fixed">
		<%= link_to "ログアウト", :logout %>
		<h1>依頼情報一覧</h1>		
		<% if current_user.roles.receiver %>
			<a href="<%= receiver_massages_url %>">受信者画面へ</a>
		<% end %>
	</div><!-- /header -->

	<div data-role="content">	
		
		<ul data-role="listview" data-filter="true">
			<% @massages.each do |massage| %>
			<li>
				<a href="<%= sender_massage_url(:id => massage.id) %>" data-transition="slide">
					<p class="ui-li-aside"><%= Time.parse(massage[:active_datetime].to_s).strftime("%Y年%m月%d日") %></p>
					<h1><%= massage.category.name %></h1>
					<p>状態：<%= massage.status.name %>, 該当者数：<%= massage.matching_count %></p>
				</a>
			</li>
			<% end %>
		</ul>
		
	</div><!-- /content -->

	<div data-role="footer" class="ui-bar" data-position="fixed">
		<a id="sender_massage_refresh_btn" href="" data-ajax="false" data-role="button" data-icon="refresh">再読込み</a>
		<a href="<%= new_sender_massage_url %>" class="ui-btn-right" data-role="button" data-icon="add" data-transition="slide">新規作成</a>
	</div><!-- /footer -->

<script type="text/javascript">
	$(function(){
		$("a#sender_massage_refresh_btn").bind( "vclick", function(){
			$.mobile.changePage( "<%= sender_massages_url %>", {
				allowSamePageTransition: true,
				reloadPage: true
			});			
		});
	});
</script>

</div><!-- /page -->
