<p id="notice"><%= notice %></p>

<table class="massage_show">
    <tbody>
  		<tr>
    		<th scope="row">カテゴリ</th>
    		<td><%= @massage.category.name %></td>
  		</tr>
  		<tr>
    		<th scope="row">依頼ステータス</th>
    		<td><%= @massage.request_status.name %></td>
  		</tr>
  		<tr>
        <th scope="row">検索ステータス</th>
        <td><%= @massage.matching_status.name %></td>
      </tr>
  		<tr>
        <th scope="row">ステータス詳細</th>
        <td><%=  StatusDescription.status(@massage.request_status.name , @massage.matching_status.name ).first.description %></td>
      </tr>
  		<tr>
    		<th scope="row">現在の該当者数</th>
    		<td><%= @massage.matching_count %>人</td>
  		</tr>
  		<tr>
    		<th scope="row">作成日</th>
    		<td><%= Time.parse(@massage.created_at.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
  		</tr>
  		<tr>
    		<th scope="row">有効期限</th>
    		<td><%= Time.parse(@massage.validated_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
  		</tr>
  		<tr>
    		<th scope="row">実施日</th>
    		<td><%= Time.parse(@massage.active_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分")  %></td>
  		</tr>
  		<% if @massage.end_flg %>
  		  <tr>
        <th scope="row"></th>
        <td>すでに終了しています</td>
      </tr>
      <% end %>
  	</tbody>
  	<tfoot>
      <tr>
        <th scope="row"><%= link_to '戻る', sender_massages_path %></th>
      <td>
        <% unless @massage.end_flg%>
          <%= form_tag({:action => :change_status},{:method => :put}) do %>
            <% request_statuses = [] %>
            <% ["成立","受付中","中止"].each do |rs| %>
              <% request_statuses << [rs,RequestStatus.to(rs).first.id]%>
            <% end %>
            <% default_value = @massage.request_status.id unless @massage.request_status.name == "不成立"%>
            <th><%= select_tag("request_status",options_for_select( request_statuses , default_value )) %></th>
            <td><%= submit_tag("ステータス変更") %></td>
          <% end %>
        <% end %>
        </td>
        </tr>
    </tfoot>
</table>

