<div data-role="page">

	<div data-role="header">
		<a href="<%= sender_massages_url %>" data-transition="slide" data-direction="reverse" data-icon="arrow-l">一覧へ</a>
		<h1>依頼情報詳細</h1>
	</div><!-- /header -->

	<div data-role="content">

		<ul data-role="listview" data-inset="true">
			<li>
				<p>カテゴリ</p>
				<h1><%= @massage.category.name %></h1>
			</li>
			<li>
				<p>依頼ステータス</p>
				<h1><%= @massage.request_status.name %></h1>
			</li>
			<li>
				<p>現在の探索範囲</p>
				<h1><%= @massage.matching_range %>km</h1>
			</li>
  			<li>
    			<p>現在の該当者数</p>
    			<h1><%= @massage.matching_count %>人</h1>
  			</li>
			<li>
				<p>作成日</p>
				<h1><%= Time.parse(@massage.created_at.to_s).strftime("%Y年%m月%d日 %H時%M分") %></h1>
			</li>
			<li>
				<p>有効期限</p>
				<h1><%= Time.parse(@massage.validated_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></h1>
			</li>
			<li>
				<p>実施日</p>
				<h1><%= Time.parse(@massage.active_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></h1>
			</li>
		</ul>

		<%= form_tag({:action => :change_status},{:method => :put}) do %>
		  <% request_statuses = [] %>
      <% @request_statuses.each{|rs| request_statuses << [rs.name ,rs.id]  }%>
      <%= select_tag("request_status",options_for_select( request_statuses ))  %>

      <input name="commit" type="submit" value="ステータス変更" data-theme="b">
    <% end %>


	</div><!-- /content -->

	<div data-role="footer">
		<h3>Social Matching System</h3>
	</div><!-- /footer -->

</div><!-- /page -->

