<p id="notice"><%= notice %></p>

<table class="massage_show">
	<tfoot>
        <tr>
            <th scope="row"><%= link_to '戻る', sender_massages_path %></th>
  			<td>
  				<%= form_tag({:action => :change_status},{:method => :put}) do %>
        		<%= select_tag("status",options_for_select([["完了",4],["キャンセル",5]])) %>
        		<%= submit_tag("ステータス変更") %>
      			<% end %>
  			</td>
        </tr>
    </tfoot>
    <tbody>
  		<tr>
    		<th scope="row">カテゴリ</th>
    		<td><%= @massage.category.name %></td>
  		</tr>
  		<tr>
    		<th scope="row">ステータス</th>
    		<td><%= @massage.status.name %></td>
  		</tr>
  		<tr>
    		<th scope="row">現在の探索範囲</th>
    		<td><%= @massage.matching_range %>km</td>
  		</tr>
  		<tr>
    		<th scope="row">現在の該当者数</th>
    		<td><%= @massage.matching_count %>人</td>
  		</tr>
  		<tr>
    		<th scope="row">作成日</th>
    		<td><%= Time.parse(@massage.created_at.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
  		</tr>
  		<tr>
    		<th scope="row">有効期限</th>
    		<td><%= Time.parse(@massage.validated_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %></td>
  		</tr>
  		<tr>
    		<th scope="row">実施日</th>
    		<td><%= Time.parse(@massage.active_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分")  %></td>
  		</tr>
  	</tbody>
</table>

