<%= form_for([:confirm,:sender,@address]) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% @address.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <b>入力情報を確認してください。</b><br />
    <b>内容がよろしければ、下の<u>登録</u>を押して、住所を登録してください</b>
  <% end %>

  <div class="field">
    <ul id="form_list">
      <li>
        <%= f.label :name ,"登録名"%>
        <h5><%= @address.name %></h5>
      </li>
      <li>
        <%= f.label :postal_code,"郵便番号" %>
        <h5><%= @address.postal_code %></h5>
      </li>
      <li>
        <%= f.label :prefecture ,"都道府県"%>
        <h5><%= @address.prefecture %></h5>
      </li>
      <li>
        <%= f.label :address1 ,"市区町村番地" %>
        <h5><%= @address.address1 %></h5>

        <%= f.label :address2 ,"建物名・部屋番号" %>
        <% if @address.address2 == "" %>
          <h5>なし</h5>
        <% else %>
          <h5><%= @address.address2 %></h5>
        <% end %>
      </li>
    </ul> <!-- end id="form_list" -->
  </div> <!-- end class="form" -->
<% end %>