<h2>住所の編集</h1>

<div id="massage_form">
  <div class="echo">
    <b>住所の編集情報を記入してください。
    記入し終わりましたら、下の<u>確認ボタン</u>を押してください。</b>
  </div>

  <%= form_for([:sender,@address]) do |f| %>

  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% @address.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class="form_list">
      <tr><th rowspan="2"><%= f.label :name ,"登録名"%></th>
        <td class="setsumei">登録する住所の呼び名を決めてください。</td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :name %><br />
          (例.実家、親戚の家、○○公園etc)
        </td>
      </tr>
      <tr><th rowspan="2"><%= f.label :postal_code,"郵便番号" %></th>
        <td class="setsumei">郵便番号を半角数字で記入してください。</td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :postal_code, :alt => "postal_code" %>
          <button type="button" id="zip2addr">郵便番号から住所挿入</button><br />
          (例.690-0817)
        </td>
      </tr>
      <span class="addressStr">
        <tr>
          <% prefectures =[]%>
          <%"北海道 青森県 岩手県 宮城県 秋田県 山形県 福島県 東京都 神奈川県 埼玉県 千葉県 茨城県 栃木県 群馬県 山梨県 新潟県 長野県 富山県 石川県 福井県 愛知県 岐阜県 静岡県 三重県 大阪府 兵庫県 京都府 滋賀県 奈良県 和歌山県 鳥取県 島根県 岡山県 広島県 山口県 徳島県 香川県 愛媛県 高知県 福岡県 佐賀県 長崎県 熊本県 大分県 宮崎県 鹿児島県 沖縄県".split(" ").each do |name| %>
          <%  prefectures << name %>
          <% end %>
          <th><%= f.label :prefecture ,"都道府県"%></th>
          <td><%= f.select :prefecture,prefectures %></td>
        </tr>
        <tr>
          <th><%= f.label :address1 ,"市区町村-町名-番地" %></th>
          <td>
            <%= f.text_field :address1 %><br />
            (例.松江市北陵町1-2)
          </td>
        </tr>
        <tr>
          <th><%= f.label :address2 ,"建物名/部屋番号等"%></th>
          <td>
            <%= f.text_field :address2 %><br />
            (例.テクノアーク島根 3階)-空欄でも可
          </td>
        </tr>
      </span>
    </table> <!-- end class="form_list" -->
  </div> <!-- end class="field" -->

  <div class="actions">
    <div class="buttonGroup">
      <input type="button" value="キャンセル" onClick="location.href='/sender/'">
      <%= f.submit "変更" %>
    </div>
  </div>
<% end %>

<script type='text/javascript'>
  $("#zip2addr").click(function(){
      AjaxZip3.zip2addr('address[postal_code]','','address[prefecture]','address[address1]','address[address2]');
   });

  // フォーム #fm に対して検証ルールを登録
  $('#new_address').validate({
    errorClass: 'invalid',    // エラー メッセージを表示する際に使用するスタイル
    // それぞれの項目に適用される検証ルール
    rules: {
      'address' :{
        "checkAddress": ["#address_address1"]
      }
    }
  });

  jQuery.validator.addMethod("checkAddress",
    function(value, element, params) {
      geocoder = new google.maps.Geocoder();
      geocoderRequest = {address: $(this).find(value).text()}
      geocoder.geocode(geocoderRequest,function(results, status){
        if(status == google.maps.GeocoderStatus.OK ){
          return true
        }else{
          return this.optional(element);
        }
     });
    },
    "住所が不正です");
</script>

</div>
