<div class="block">
  <div class="menu">
    <%= render "sender/menu" %>
  </div>

  <div class="index_content">
    <h2>あなたに関係する住所一覧</h2>

    <table id="index_massages">
      <thead>
        <tr>
          <th>登録名</th>
          <th>郵便番号</th>
          <th>都道府県</th>
          <th>市区町村-町名</th>
          <th>建物名等</th>
          <th>リンク</th>
        </tr>
      </thead>
      <% @addresses.each do |address| %>
        <tr>
          <td id="address_name"><%= address.name %></td>
          <td id="address_postal_code"><%= address.postal_code %></td>
          <td id="address_prefecture"><%= address.prefecture %></td>
          <td id="address_address1"><%= address.address1 %></td>
          <td id="address_address2">
            <% if address.address2 != "" %>
              <%= address.address2 %>
            <% else %>
              なし
            <% end %>
          </td>
          <td id="links">
	          <%= link_to "変更" ,[:edit,:sender,address] %> |
	          <% if address.massages.size == 0%>
	             <%= link_to "削除" ,[:sender,address],:method => :delete ,:confirm => "削除してもよろしいですか？" %>
	          <% else %>
              <a onclick="window.alert('関連する依頼があるため、削除することはできません');" >削除</a>
            <% end %>
	        </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
