<div class="echo">
  <b>入力情報をご確認ください。</b><br />
  <b>内容がよろしければ、下の<u>登録</u>を押して、依頼を登録してください</b>
</div>
<%= form_for([:sender,@massage]) do |f2| %>
  <div class="field">
    <table class="form_list">
      <tbody>
      <tr>
        <th>実施日時</th>
        <td><%= Time.parse(@massage.active_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %> <strong>から実施</strong></td>
      </tr>
      <tr>
        <th>依頼の種類</th>
        <td><%= @massage.category.name %></td>
      </tr>
      <tr>
        <th rowspan="2">実施住所</th>
        <td><strong>名前</strong> -<%= @massage.address.name %>-</td>
      </tr>
      <tr>
        <td>
            <strong>住所 </strong>
            <%= @massage.address.postal_code %>
            <%= @massage.address.prefecture %><%= @massage.address.address1 %><%= @massage.address.address2 %>

        </td>
      </tr>
      <tr>
        <th>受付期限日時</th>
        <td>
           <%= Time.parse(@massage.validated_datetime.to_s).strftime("%Y年%m月%d日 %H時%M分") %>　<strong>まで有効</strong>
        </td>
      </tr>
      <tr>
        <th>備考</th>
        <td>
          <% if @massage.description == ""%>
            なし
          <% else %>
            <%= @massage.description %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table> <!-- end form list -->
  </div>
  <%= f2.text_field :latitude, :type => "hidden" %>
  <%= f2.text_field :longitude, :type => "hidden" %>

<% end %>
