<div class="block">
	<div class="index_content">
    <table id="index_massages">
      <thead>
        <tr><th>依頼の種類</th><th>受付状況</th><th>検索状況</th><th>受付期限日時</th><th>実施日</th><th>リンク</th></tr>
      </thead>
      <% @massages.each do |m| %>
        <tr>
          <td><%= m.category.name %></td>
          <td><%= m.request_status.name %></td>
          <td><%= m.matching_status.name %></td>
          <td><%= Time.parse(m.validated_datetime.to_s).strftime("%m月%d日 %H時%M分") %></td>
          <td><%= Time.parse(m.active_datetime.to_s).strftime("%m月%d日 %H時%M分") %></td>
          <td><%= link_to("詳細",receiver_massage_path(m.id)) %></td>
        </tr>
      <% end %>
    </table>
	</div>
</div>
<script type="text/javascript">
	//Ajaxで位置情報をポストする際に同時に送信されるユーザID
	var current_user_id = "<%= current_user.id %>";

	function makeLink(cellvalue, options, rowObject){
		var url = "<%= receiver_massage_url(:id => "") %>";
		url = url + cellvalue;
		return "<a href='" + url + "'>詳細</a>";
	}
</script>
