<%= @errors %>
<p>
  <%= label_tag :login %><br />
  <%= text_field_tag("login") %>
</p>
<p>
  <%= label_tag :email %><br />
  <%= text_field_tag("email") %>
</p>
<p>
  <%= label_tag :password %><br />
  <%= password_field_tag("password") %>
</p>
<p>
  <%= label_tag :password_confirmation %><br />
  <%= password_field_tag("password_confirmation")%>
</p>
<p>
  <%= label_tag :roles_admin_%>
  管理者：<%= check_box_tag "roles[admin][]", "1" %>
  送信者：<%= check_box_tag "roles[sender][]", "2" ,true%>
  受信者：<%= check_box_tag "roles[receiver][]", "3" %>
</p>
<p>
  <%= label_tag :family_name ,"姓/漢字"%>
  <%= text_field_tag("family_name") %>
  <%= label_tag :given_name ,"名/漢字" %>
  <%= text_field_tag("given_name") %>
</p>
<p>
  <%= label_tag :family_name_kana ,"姓/カナ"%>
  <%= text_field_tag("family_name_kana") %>
  <%= label_tag :given_name_kana ,"名/カナ" %>
  <%= text_field_tag("given_name_kana") %>
</p>
<p>
  <%= label_tag :sex,"性別"%>
  <%= select_tag("sex", options_for_select(["男","女"], [:male,:female]))%>
</p>
<hr>
<p>

  <%= label_tag :prefecture ,"都道府県"%>
  <%= text_field_tag("prefecture") %>
  <%= label_tag :postal_code ,"郵便番号" %>
  <%= text_field_tag("postal_code") %>
  <%= label_tag :address1 ,"アドレス１"%>
  <%= text_field_tag("address1") %>
  <%= label_tag :address2 ,"アドレス２" %>
  <%= text_field_tag("address2") %>
  <%= label_tag :name ,"ラベル"%>
  <%= text_field_tag("name") %>

</p>
