<div class="center_content">
  <h1>パスワードの変更</h1>

  <%= render "admin/sidemenu" %>

  <div class="right_content">
    <%= form_for([:admin,@admin_user],:url => { :action => "update_password" } ) do |f| %>
    <strong><%= @admin_user.login %></strong> の新しいパスワード

    <br/>
      <%= f.label :password ,"新パスワード" %>
      <%= f.password_field :password %>
    <br/>
      <%= f.label :password_confirmation ,"新パスワード確認" %>
      <%= f.password_field :password_confirmation %>
    <br/>
      <%= f.submit "Update Password"%>
    <% end %>
  </div>
</div>