<div class="block">
  <div class="content">
    <h2 class="title">ユーザ一覧</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>ユーザーID</th>
          <th>mailアドレス</th>
          <th>ロール</th>
          <th colspan="3">操作</th>
        </tr>

      <% @admin_users.each do |user| %>
        <tr>
          <td><%= user.login %></td>
          <td><%= user.email %></td>
          <td><%= user.roles.name%></td>
          <td><%= link_to '詳細', [:admin, user] %></td>
          <td><%= link_to '編集', edit_admin_user_path(user) %></td>
          <td><%= link_to '削除', [:admin, user], :confirm => '削除しますか?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>

      <br />

      <%= link_to '新規ユーザー登録', new_admin_user_path %>
    </div>
  </div>
</div>